/* ABOUT PAGE */

.about__title-1{
    color: black;
    margin-left: 300px;
    margin-top: 200px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 39px;
    margin-bottom: 0px;
  }
  .about__title-2{
    color: orange;
    margin-left: 300px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 39px;
    margin-top: 0px;
  }
  
  .about__decoration{
    margin-top: -200px;
    width: 32px;
    height: 420px;
    background-color: orange;
    float: left;
    margin-bottom: 40px;
    
    }
  .about__paragraph{
    color: black;
    margin-left: 300px;
    padding-top: 10px;
    padding-bottom: 400px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.60px;
    text-align: left;
    top: 1300px;
    left: 299px;
    width: 768px;
    height: 197px;
  
  }