.body {
  background: transparent  0% 0% repeat padding-box;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  height: 800px;
  
}
span.carousel-control-next-icon{
  
  background-image: none;
}

span.carousel-control-prev-icon{
  
  background-image: none;
}
#carousel .carousel-indicators{
  height: 100px;
  margin-left: -920px;
  margin-bottom: 60px;
  
  
}
#carousel button{
    border-radius: 60%;
    width: 14px;
    height: 0px;
    background: orange;
    margin-right: 20px;
}
#carousel{
  position: absolute;
}
.d-blockw-100{
  width: 1423px;
  height: 798px;
}
a {
  color: white;
  text-decoration: none;
}

p {
  color: white;
}

.main{
  position: absolute;
  padding-top: 240px;
  overflow: visible;
}
.main__text__elements__title {
  font-family: "Poppins";
  font-size: 48px;
  letter-spacing: 0.67px;
  font-weight: bold;
}

.main__text__elements__secondary {
  font-family: "Roboto";
  letter-spacing: 0.22px;
}

.main__text {
  padding-top: 90px;
  padding-left: 90px;
}

.button {
  border-radius: 25px;
  background-color: #e0752f;
  width: 144px;
  height: 48px;
  margin-left: 90px;
}

.header__nav__logo {
  background-color: transparent;
  padding-top: 33px;
  padding-left: 80px;
  padding-bottom: 20px;
}

.header__nav {
  border-bottom: solid 2px orange;
}

.header__ul {
  list-style: none;
  width: 800px;
  padding-top: 20px;
  padding-left: 40px;
  float: right;
}

.header__ul__elements {
  display: inline-block;
  width: 5em;
  padding-left: 30px;
  margin-right: 30px;
}
